body, html{
    font-family: 'Source Sans Pro', sans-serif;;
}

#header{
    width: 100%;
    background-color: transparent;    
}

#header .navbar navbar-light bg-light{
    width: auto;     
      }


#header.active{
    position: fixed;
    background-color: --darkblue;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#rodape ul {
    margin: 0%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

#rodape ul li {
    display: flex;
    list-style-type: none;
    margin-left: 25px;

}